@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body { 
    font-family: "Rubik", serif;
    margin: 0; 
    padding: 0; 
    direction: rtl;
    overflow-x: hidden;
    overflow-y: hidden;
}
#map { 
    width: 100vw; 
    height: 85vh; 
}
.button-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    min-width: 450px;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.radius-button { 
    padding: 12px;
    background: white;
    border: 2px solid #4285f4;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #4285f4;
    font-weight: bold;
    transition: all 0.3s ease;
}

.route-button { 
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 12px 12px;
    background: white;
    border: 2px solid #57f442;
    border-radius: 10px;
    cursor: pointer;
    color: #57f442;
    font-weight: bold;
    transition: all 0.3s ease;
}
.radius-button:hover { 
    background: #4285f4;
    color: white;
}
.route-button:hover { 
    background: #a2f1ba;
    color: white;
}
.nav-button {
    padding: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    flex: 1;
    min-width: 150px;
}
#start{
    display:block;
    padding: 1vh;
    width: 330px;
    border-radius: 10px;
    border-width: 0;
    color:white;
    background-image: linear-gradient(to right,#004C99,#00A65E,#8CD025,#99CA3C,#F58112);
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
    flex: 1;
}

#start:hover{
    color:gold;
}
.google-maps-button {
    background-image: url('/Palette.svg');
    background-size: cover;
    color: rgb(255, 255, 255);
}
.google-maps-button:hover {
    filter: brightness(80%)
}
.moovit-button {
    background: #ff6c04;
}
.moovit-button:hover {
    background: #db5e05;
}
.location-button {
    position: absolute;
    bottom: 16%;
    left: 10%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 12px 12px;
    background: white;
    border: 2px solid #4285f4;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #4285f4;
    transition: all 0.3s ease;
}
.location-button:hover {
    background: #97bbf5;
    color: white;
}
.status-message {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display:none;
}

#timer {
    color: #4285f4;
    font-size: 10vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
    text-align: center;
}

#logo{
    position: absolute;
    height:8vh;
    bottom:18%;
    right: 1%;
    z-index: 1000;
}